[submodule "submodules/infra"]
	path = submodules/infra
	url = git://github.com/floodlight/infra
[submodule "submodules/bigcode"]
	path = submodules/bigcode
	url = git://github.com/floodlight/bigcode
[submodule "submodules/onlp"]
	path = submodules/onlp
	url = git://github.com/opennetworklinux/onlp
